{% extends "@base/base.twig" %}

{% block content %}
  <!-- Homepage Content -->
  <div class="homepage-content">
    home page
    <div class="text-lg font-medium pt-6 mb-8">
      <p>Tailwind</p>
    </div>
  </div>
{% endblock %}
